body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    /* Fondo oscuro */
    color: #e0e0e0;
    /* Texto claro */
}

.container {
    max-width: 600px;
    background-color: #1e1e1e;
    /* Fondo del contenedor */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #1db954;
    /* Color verde de Spotify */
}

.input-group .form-control {
    background-color: #333;
    /* Fondo oscuro para el campo de entrada */
    color: #e0e0e0;
    /* Texto claro en el campo de entrada */
    border: 1px solid #444;
    /* Borde del campo de entrada */
}

.input-group .btn-outline-light {
    border: 1px solid #444;
    /* Borde del botón */
    color: #e0e0e0;
    /* Texto claro en el botón */
}

.input-group .btn-outline-light:hover {
    background-color: #444;
    /* Fondo oscuro en hover */
    color: #1db954;
    /* Color verde de Spotify */
}

.btn-success {
    background-color: #1db954;
    /* Color verde de Spotify */
    border-color: #1db954;
    /* Borde verde de Spotify */
}

.btn-success:hover {
    background-color: #1aa34a;
    /* Color verde más oscuro en hover */
    border-color: #1aa34a;
    /* Borde verde más oscuro en hover */
}

.btn-primary {
    background-color: #1db954;
    /* Color verde de Spotify */
    border-color: #1db954;
    /* Borde verde de Spotify */
}

.btn-primary:hover {
    background-color: #1aa34a;
    /* Color verde más oscuro en hover */
    border-color: #1aa34a;
    /* Borde verde más oscuro en hover */
}

#currentPath {
    font-weight: bold;
}

#result,
#fileList {
    margin-top: 20px;
}

#fileList h2 {
    margin-bottom: 10px;
}